{% extends "base.html" %}
{% load static widget_tweaks %}

{% block container %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2 class="vh-title">Gestion clients</h2>
    </div>
</div>

<form method='post'>{% csrf_token %}
  {{form.errors}}
  <div class="row">
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="form-group">
            {% render_field form.nom class="form-control" placeholder=form.nom.label %}
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        {% render_field form.prenom class="form-control" placeholder=form.prenom.label %}
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="form-group">
          <!--<label for="">Contact:</label>-->
        {% render_field form.num_tel class="form-control" placeholder=form.num_tel.label %}
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="form-group">
        {% render_field form.adresse class="form-control" placeholder=form.adresse.label %}
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="form-group">
        {% render_field form.num_docu class="form-control" placeholder=form.num_docu.label %}
        </div>
      </div>
  </div>
  <div class="row">
  </div>
  <div class="row">
    <div class="col-md-5 col-lg-5 col-xl-5">
          <div class="form-group">
             <center><button type="submit" class="btn btn-primary">Enregistrer</button></center>
          </div>
    </div>
    <div class="col-md-2 col-lg-2 col-xl-2">
    </div>
    <div class="col-md-5 col-lg-5 col-xl-5">
          <div class="form-group">
            <center><a href="/" type="submit" class="btn btn-primary">Retour</a></center>
          </div>
    </div>
  </div>
</form>


  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <table class="table table-bordered table-striped" style="margin-top: 2em">
        <thead>
          <tr>
            <th scope="col">N</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Contact</th>
            <th scope="col">Permis</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
           {% for c in  clt  %}
          <tr>
            <td>{{c.id}}</td>
            <td>{{c.nom}}</td>
            <td>{{c.prenom}}</td>
            <td>{{c.adresse}}</td>
            <td>{{c.num_tel}}</td>
            <td>{{c.num_permis}}</td>
            <td><button class="btn btn-danger " name="supprimer"  title="supprimer info"><i class="icon-remove icon-white"></i>supprimer</button>
            <button  type="submit" class="btn btn-warning" name="modifier" title="modifier info">
                    <span class="icon-edit icon-white"></span>modifier</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


{% endblock %}