{% extends "base.html" %}

{% block container %}
        

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2><center>ENREGISTREMENT DES  VEHICULES </center></h2>
    </div>
</div>

<form method='post'>{% csrf_token %}
  {{form.errors}}
  <div class="row">
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="form-group">
          <!--<label for="">Nom:</label>-->
          {{form.matricule.label}} : {{form.matricule}}
        </div>
    </div>  
    <div class="col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <!--<label for="">Prenom:</label>-->
        {{form.modele.label}} : {{form.modele}}
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="form-group">
          <!--<label for="">Contact:</label>-->
          {{form.marque.label}} : {{form.marque}}
        </div>
      </div>  
      <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="form-group">
          <!--<label for="exampleInputEmail1">Adresse:</label>-->
          {{form.couleur.label}} : {{form.couleur}}
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="form-group">
          <!--<label for="">Login:</label>-->
          {{form.montant.label}} : {{form.montant}}
        </div>
      </div>  
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-xl-6">
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6">
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>


  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <table class="table table-bordered" style="margin-top: 2em">
        <thead>
          <tr>
            <th scope="col">N</th>
            <th scope="col">Matricule</th>
            <th scope="col">Modele</th>
            <th scope="col">Marque</th>
            <th scope="col">Couleur</th>
            <th scope="col">Montant</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
           {% for c in  veh  %}
          <tr>
            <td>{{c.id}}</td>
            <td>{{c.matricule}}</td>
            <td>{{c.modele}}</td>
            <td>{{c.marque}}</td>
            <td>{{c.couleur}}</td>
            <td>{{c.montant}}</td>
            <td><button class="btn btn-danger " name="supprimer"  title="supprimer info"><i class="icon-remove icon-white"></i>supprimer</button>
            <button  type="submit" class="btn btn-warning" name="modifier" title="modifier info">
                    <span class="icon-edit icon-white"></span>modifier</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div> 
  </div>
    
{% endblock %}